@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(220, 20%, 10%);
  color: hsl(220, 10%, 90%);
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(220, 20%, 20%);
  border-radius: 0.25rem;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

